{{#partial "page"}}
    <h1 class="page-heading">{{lang 'forbidden.page_heading'}}</h1>

    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    <div class="page">
        <section class="page-content page-content--textCenter">
            <p class="u-textAlignCenter">
                {{lang 'forbidden.if_you_were_signed_in'}}
                <a href="{{urls.auth.login}}">{{lang 'forbidden.sign_in'}}</a>
                {{lang 'forbidden.to_continue'}}
            </p>
            <a href="javascript:history.back()">Go Back</a>
        </section>
    </div>
{{/partial}}
{{> layout/base}}