<li class="navPage-subMenu-item has-subMenu">
    <div class="navPage-subMenu-action navPages-action has-subMenu" aria-label="Our Brands">
        Our Brands
    </div>
    <ul class="navPage-childList navPage-brandList" id="navPages-{{id}}">
        {{#each (sortBy shop_by_brand "name")}}
            <li class="navPage-childList-item navPage-brandList-item">
                <a href="{{url}}" aria-label="{{name}}">
                    <figure class="navPage-brandList-image">
                        <img src="{{cdn (concat (concat 'webdav:images/brand-carousel/' name) '-card-bg.jpg')}}">
                    </figure>
                </a>
                <a class="navPage-childList-action navPage-brandList-action navPages-action" href="{{url}}"
                    aria-label="{{name}}">
                    {{name}}
                </a>
            </li>
        {{/each}}
    </ul>
    <a class="navPage-subMenu-action navPages-action" href="/brands/" aria-label="All Brands">
        All Brands
    </a>
</li>