{{#if cart.items.length}}
    <ul class="previewCart-items">
        {{#each (limit cart.items 10)}}
            <li class="previewCart-item">
                <div class="previewCart-itemImage-wrapper">
                    <figure class="previewCart-itemImage">
                        {{#if type '==' 'GiftCertificate'}}
                            <img src="{{cdn ../../theme_settings.default_image_gift_certificate}}" alt="GiftCertificate"
                                title="GiftCertificate">
                        {{else}}
                            {{> components/common/responsive-img image=image fallback_size=../../theme_settings.productthumb_size lazyload=../../theme_settings.lazyload_mode default_image=../../theme_settings.default_image_product }}
                        {{/if}}
                    </figure>
                </div>
                <div class="previewCart-itemContent">
                    <a class="previewCart-itemName" href="{{url}}" alt="{{name}}" title="{{name}}">
                        {{quantity}} x {{name}}
                    </a>
                    {{#or ../customer (if ../theme_settings.restrict_to_login '!==' true)}}
                        <span class="previewCart-itemPrice">Price: {{price.formatted}}</span>
                    {{/or}}
                </div>
            </li>
        {{/each}}
    </ul>
    </div>
    <div class="previewCart-actions">
        <div class="previewCart-subtotal">
            <strong>Subtotal</strong>
            <span>{{{cart.sub_total.formatted}}}</span>
        </div>
        {{#if cart.show_primary_checkout_button}}
            <a href="{{urls.checkout.single_address}}" class="button button--primary button--tocheckout">
                {{lang 'cart.preview.checkout_now'}}
            </a>
        {{/if}}
        <a href="{{urls.cart}}" class="button button--primary">
            {{lang 'cart.preview.view_cart'}}
        </a>
    </div>
{{else}}
    <div class="previewCart-empty">
        <p>You've not added any items to your cart yet!</p>
        <p>Take a look around and come back here if you find a product that meets your needs.</p>
    </div>
    <div class="previewCart-actions">
        <a class="button button--primary" href="/">Continue Shopping</a>
        <a class="button button--primary" href="/sales-and-offers/">Sales & Offers</a>
    </div>
{{/if}}