{{#each categories}}
    {{#if children}}
        <li class="navPage-subMenu-item">
            <div class="navPage-subMenu-action navPages-action has-subMenu" aria-label="{{name}}">
                {{name}}
            </div>
            <ul class="navPage-childList" id="navPages-{{id}}">
                {{#each children}}
                    <li class="navPage-childList-item">
                        <a class="navPage-childList-action navPages-action" href="{{url}}" aria-label="{{name}}">
                            {{name}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </li>
    {{/if}}
{{/each}}

<li class="navPage-subMenu-item">
    <div class="navPage-subMenu-action navPages-action has-subMenu" aria-label="Shop By Size">
        Shop By Size
    </div>
    <ul class="navPage-childList">
        <li class="navPage-childList-item">
            <a class="navPage-childList-action navPages-action" href="/" aria-label="Small Rooms">
                Small Rooms
            </a>
        </li>
        <li class="navPage-childList-item">
            <a class="navPage-childList-action navPages-action" href="/" aria-label="Medium Rooms">
                Medium Rooms
            </a>
        </li>
        <li class="navPage-childList-item">
            <a class="navPage-childList-action navPages-action" href="/" aria-label="Large Rooms">
                Large Rooms
            </a>
        </li>
        <li class="navPage-childList-item">
            <a class="navPage-childList-action navPages-action" href="/" aria-label="X-Large Rooms">
                X-Large Rooms
            </a>
        </li>
        <li class="navPage-childList-item">
            <a class="navPage-childList-action navPages-action" href="/" aria-label="Commercial Spaces">
                Commercial Spaces
            </a>
        </li>
    </ul>
</li>

{{#each categories}}
    {{#unless children}}
        <li class="navPage-subMenu-item">
            <div class="navPage-subMenu-action navPages-action has-subMenu" aria-label="{{name}}">
                {{name}}
            </div>
            <ul class="navPage-childList" id="navPages-{{id}}">
                {{#each children}}
                    <li class="navPage-childList-item">
                        <a class="navPage-childList-action navPages-action" href="{{url}}" aria-label="{{name}}">
                            {{name}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </li>
    {{/unless}}
{{/each}}