<!-- Custom message bar -->
{{#if theme_settings.hide_message_bar}}
    <a class="message-bar" href="https://landing.juicers.co.uk/black-friday-sale/">
        <span>Black Friday</span> Sales Now On
    </a>
{{/if}}

<!-- Custom message box -->
{{#if theme_settings.hide_message_box}}
    <div id="message-box">
        <p>Please be aware that our phone lines are down due to issues with our service provider. If you would like to
            speak to one of our advisors, please send an email to support@juicers.co.uk with your telephone number and
            we will call you back as soon as possible.</p>
        <button class="button button--small" id="message-button">I Understand</button>
    </div>
{{/if}}