<nav class="navPages">
    <span id="navPages-close"></span>
    <ul class="navPages-list{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
        <li class="navPages-item navPages-item-page">
            <div class="navPages-action has-subMenu" data-collapsible="navPages-categories">
                Products
                <i class="icon navPages-action-moreIcon" aria-hidden="true">
                    <svg>
                        <use xlink:href="#icon-chevron-down" />
                    </svg>
                </i>
            </div>
            <div class="navPage-subMenu" id="navPages-categories" aria-hidden="true" tabindex="-1">
                <ul class="navPage-subMenu-list">
                    {{> components/common/category-list}}
                </ul>
            </div>
            <span class="navPage-subMenu-close">
                <span class="material-symbols-outlined">
                    chevron_left
                </span>
            </span>
        </li>
        <li class="navPages-item navPages-item-page">
            <div class="navPages-action has-subMenu" data-collapsible="navPages-brands">
                Brands
                <i class="icon navPages-action-moreIcon" aria-hidden="true">
                    <svg>
                        <use xlink:href="#icon-chevron-down" />
                    </svg>
                </i>
            </div>
            <div class="navPage-subMenu" id="navPages-brands" aria-hidden="true" tabindex="-1">
                <ul class="navPage-subMenu-list">
                    {{> components/common/brand-list}}
                </ul>
            </div>
            <span class="navPage-subMenu-close">
                <span class="material-symbols-outlined">
                    chevron_left
                </span>
            </span>
        </li>
        <li class="navPages-item navPages-item-page navPages-item--desktop">
            <div class="navPages-action has-subMenu" data-collapsible="navPages-pages">
                Information
                <i class="icon navPages-action-moreIcon" aria-hidden="true">
                    <svg>
                        <use xlink:href="#icon-chevron-down" />
                    </svg>
                </i>
            </div>
            <div class="navPage-subMenu" id="navPages-pages" aria-hidden="true" tabindex="-1">
                <ul class="navPage-subMenu-list navPage-page-list">
                    {{#each pages}}
                        {{> components/common/page-list}}
                    {{/each}}
                </ul>
            </div>
        </li>
    </ul>
    <ul class="navPages-list navPages-list--mobile">
        <li class="navPages-item">
            <div class="navPages-action" aria-label="Support">
                Support
            </div>
            <ul class="navPage-pageList" tabindex="-1">
                {{#each pages}}
                    {{#if name '==' 'Support'}}
                        {{#each children}}
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="{{url}}"
                                    aria-label="{{name}}">
                                    {{name}}
                                </a>
                            </li>
                        {{/each}}
                    {{/if}}
                {{/each}}
                <li class="navPage-childList-item">
                    <a class="navPage-childList-action navPages-action" href="/contact-us/" aria-label="Contact">
                        Contact Us
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="navPages-list navPages-list--mobile">
        <li class="navPages-item">
            <div class="navPages-action" aria-label="{{lang 'common.account'}}">
                My Account
            </div>
            <ul class="navPage-pageList" tabindex="-1">
                <li class="navPage-childList-item">
                    <a class="navPage-childList-action navPages-action" href="{{urls.account.orders.all}}"
                        aria-label="{{lang 'account.nav.orders'}}">
                        {{lang 'account.nav.orders'}}
                    </a>
                </li>
                <li class="navPage-childList-item">
                    <a class="navPage-childList-action navPages-action" href="{{urls.account.addresses}}"
                        aria-label="{{lang 'account.nav.addresses'}}">
                        {{lang 'account.nav.addresses'}}
                    </a>
                </li>
                <li class="navPage-childList-item">
                    <a class="navPage-childList-action navPages-action" href="{{urls.account.recent_items}}"
                        aria-label="{{lang 'account.nav.recently_viewed'}}">
                        {{lang 'account.nav.recently_viewed'}}
                    </a>
                </li>
                <li class="navPage-childList-item">
                    <a class="navPage-childList-action navPages-action" href="{{urls.account.details}}"
                        aria-label="{{lang 'account.nav.settings'}}">
                        {{lang 'account.nav.settings'}}
                    </a>
                </li>
                {{#if customer}}
                    <li class="navPage-childList-item">
                        <a class="navPage-childList-action navPages-action" href="{{urls.auth.logout}}"
                            aria-label="{{lang 'common.logout'}}">
                            {{lang 'common.logout'}}
                        </a>
                    </li>
                {{/if}}
            </ul>
        </li>
    </ul>
    <ul class="navPages-list navPages-list--mobile">
        <li class="navPages-item">
            <div class="navPages-action" aria-label="Articles">
                Articles
            </div>
            <ul class="navPage-pageList" tabindex="-1">
                {{#each pages}}
                    {{#if name '==' 'Articles'}}
                        {{#each children}}
                            <li class="navPage-childList-item">
                                <a class="navPage-childList-action navPages-action" href="{{url}}"
                                    aria-label="{{name}}">
                                    {{name}}
                                </a>
                            </li>
                        {{/each}}
                    {{/if}}
                {{/each}}
                <li class="navPage-childList-item">
                    <a class="navPage-childList-action navPages-action" href="/blog/" aria-label="Blog">
                        Our Blog
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>