<form class="quickSearch-form" data-url="{{urls.search}}" data-quick-search-form>
    <div class="quickSearch-container">
        <span class="quickSearch-close" aria-hidden="true"></span>
        <fieldset class="form-fieldset">
            <div class="form-field">
                <label class="is-srOnly" for="{{name}}">{{lang "search.quick_search.input_label"}}</label>
                <input class="form-input" data-search-quick name="{{name}}" id="{{name}}"
                    data-error-message="{{lang 'search.error.empty_field'}}"
                    placeholder="{{lang 'search.quick_search.input_placeholder'}}" autocomplete="off">
                <button class="button button--primary button--icon" type="submit">
                    <span class="material-symbols-outlined material-icon">
                        search
                    </span>
                </button>
            </div>
        </fieldset>
    </div>
    <div class="container">
        <section class="quickSearchResults" data-bind="html: results"></section>
    </div>
</form>