// =============================================================================
// FACET SEARCH (CSS)
// =============================================================================

// Faceted search toggle
// -----------------------------------------------------------------------------
//
// 1. Do not show if viewport is over "medium" breakpoint
//
// -----------------------------------------------------------------------------

.facetedSearch {
    background-color: $color-greyLightest;
    height: 100%;
    left: -80px;
    margin: 0;
    max-height: 100vh;
    max-width: 320px;
    opacity: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    visibility: hidden;
    width: 90%;
    z-index: zIndex("highest");

    @include breakpoint("xsmall") {
        max-width: 350px;
    }

    @include breakpoint("medium") {
        border-radius: $global-radius;
        left: 0;
        overflow: visible;
        margin-bottom: spacing("single");
        max-height: 100%;
        max-width: 100%;
        opacity: 1;
        padding: (spacing("single") - spacing("third")) spacing("single");
        position: relative;
        visibility: visible;
        width: 100%;
        z-index: 0;
    }

    @include breakpoint("large") {
        padding: spacing("single") (spacing("single") + spacing("third"));
    }

    &.is-open {
        left: 0;
        opacity: 1;
        visibility: visible;
    }

    &::-webkit-scrollbar {
        width: 4px;

        &-track {
            background: $body-bg;
        }

        &-thumb {
            background: stencilColor("color-primary");

            &:hover {
                background: stencilColor("color-secondary");
            }
        }
    }

    &-toggle {
        @include breakpoint("medium") {
            display: none;
        }
    }

    &-selected {
        margin-bottom: spacing("double");
        padding: 10px 40px 0 40px;

        @include breakpoint("medium") {
            padding: 0;
        }

        a.clear-link {
            color: $color-primary;

            &:hover {
                color: $color-secondary;
            }
        }
    }

    .rating--small {
        margin-right: 5px;
        position: relative;
        top: -1px;
    }

    .button--small {
        color: $color-primary;
        letter-spacing: 0;
        font-size: 1rem;
        margin-top: 15px;
        padding: 0 5px;
        text-align: left;
        text-transform: none;
        transition: color 750ms ease;
        width: 100%;

        &:hover,
        &:active {
            background-color: transparent;
            color: $color-secondary;
        }
    }

    .sidebarBlock-heading {
        align-items: center;
        display: flex;
        font-size: 20px;
        margin: 0;

        @include breakpoint("medium") {
            margin: 0 0 spacing("single") 0;
        }
    }

    .form-minMaxRow .form-field {
        width: 50%;
    }
}

.facetedSearch-close {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-left: auto;
    position: relative;
    transition: transform 500ms ease;
    -webkit-transition: transform 500ms ease;
    width: 50px;

    &:hover {
        transform: scale(1.1);

        &::after,
        &::before {
            background-color: $color-primary;
        }
    }

    &::after,
    &::before {
        background-color: $color-textBase;
        bottom: auto;
        content: "";
        height: 3px;
        position: absolute;
        top: auto;
        transition: background 500ms ease;
        -webkit-transition: background 500ms ease;
        -moz-transition: background 500ms ease;
        width: 24px;
    }

    &::after {
        transform: rotate(-45deg);
    }

    &::before {
        transform: rotate(45deg);
    }

    @include breakpoint("medium") {
        display: none;
    }
}

.facetedSearch-navList {
    padding: 10px 40px 40px 40px;

    @include breakpoint("medium") {
        padding: 0;
    }
}
