// =============================================================================
// FACET SEARCH (CSS)
// =============================================================================

// Faceted search toggle
// -----------------------------------------------------------------------------
//
// 1. Do not show if viewport is over "medium" breakpoint
//
// -----------------------------------------------------------------------------

.facetedSearch {
    background-color: $color-white;
    height: 100%;
    left: -360px;
    margin: 0;
    max-height: 100vh;
    max-width: 360px;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: all 750ms ease;
    visibility: hidden;
    width: calc(100% - 50px);
    z-index: zIndex("highest");

    @include breakpoint("medium") {
        background-color: $color-greyLightest;
        border-radius: $global-radius;
        left: 0;
        overflow: visible;
        margin-bottom: spacing("single");
        max-height: 100%;
        max-width: 100%;
        opacity: 1;
        padding: (spacing("single") - spacing("third")) spacing("single");
        position: relative;
        visibility: visible;
        width: 100%;
        z-index: 0;
    }

    @include breakpoint("large") {
        padding: spacing("single") (spacing("single") + spacing("third"));
    }

    &.is-open {
        left: 0;
        opacity: 1;
        visibility: visible;
    }

    &::-webkit-scrollbar {
        width: 4px;

        &-track {
            background: $body-bg;
        }

        &-thumb {
            background: stencilColor("color-primary");

            &:hover {
                background: stencilColor("color-secondary");
            }
        }
    }

    &-toggle {
        @include breakpoint("medium") {
            display: none;
        }
    }

    &-selected {
        padding: (spacing("single") + spacing("half"));
        padding-bottom: 0;

        @include breakpoint("medium") {
            margin-bottom: spacing("double");
            padding: 0;
        }

        a.clear-link {
            color: $color-primary;

            &:hover {
                color: $color-secondary;
            }
        }
    }

    .rating--small {
        margin-right: 5px;
        position: relative;
        top: -1px;
    }

    .button--small {
        color: $color-primary;
        letter-spacing: 0;
        font-size: 1rem;
        margin-top: 15px;
        padding: 0 5px;
        text-align: left;
        text-transform: none;
        transition: color 750ms ease;
        width: 100%;

        &:hover,
        &:active {
            background-color: transparent;
            color: $color-secondary;
        }
    }

    .sidebarBlock-heading {
        align-items: center;
        display: flex;
        font-size: 0px;
        margin: 0;

        @include breakpoint("medium") {
            font-size: 20px;
            margin: 0 0 spacing("single") 0;
        }
    }

    .form-minMaxRow .form-field {
        width: 50%;
    }
}

.facetedSearch-close {
    align-items: center;
    background-color: $color-primary;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    left: 100%;
    margin-left: auto;
    position: absolute;
    top: 0;
    transition: transform 500ms ease;
    -webkit-transition: transform 500ms ease;
    width: 50px;

    &::after,
    &::before {
        background-color: $color-white;
        bottom: auto;
        content: "";
        height: 3px;
        position: absolute;
        top: auto;
        transition: background 500ms ease;
        -webkit-transition: background 500ms ease;
        -moz-transition: background 500ms ease;
        width: 24px;
    }

    &::after {
        transform: rotate(-45deg);
    }

    &::before {
        transform: rotate(45deg);
    }

    @include breakpoint("medium") {
        display: none;
    }
}

.facetedSearch-navList {
    max-height: 100vh;
    overflow: auto;
    padding: (spacing("single") + spacing("half"));

    @include breakpoint("medium") {
        max-height: unset;
        overflow: unset;
        padding: 0;
    }
}
