---
brands:
---

{{#partial "page"}}
<h1 class="page-heading">{{lang 'brand.label'}}</h1>

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<section class="page">
    <div class="page-content">
        {{{region name="brands_below_header"}}}
        <ul class="brand-list">
            {{#each brands}}
                <li class="brand-item">
                    <a class="brand-card" href="{{url}}">
                        <figure class="brand-card-image-wrapper">
                            <img src="{{cdn (concat (concat 'webdav:images/brand-carousel/' name) '-card-bg.jpg')}}">
                        </figure>
                        <span class="brand-name">{{name}}</span>
                    </a>
                </li>
            {{/each}}
        </ul>
        {{{region name="brands_below_content"}}}
    </div>
</section>
{{/partial}}
{{> layout/base}}
