---
cart: true
---
{{inject 'cancelButtonText' (lang 'common.cancel')}}
{{#partial "page"}}
    {{inject 'invalidEntryMessage' (lang 'cart.invalid_entry_message')}}

    {{> components/cart/page-title}}

    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    <main class="page">
        <div class="page-content" data-cart>
            <div data-cart-status>
                {{> components/cart/status-messages}}
            </div>
            {{#if cart.items.length}}
                <div class="cart-content">
                    <div class="loadingOverlay"></div>
                    <div class="cart-items" data-cart-content>
                        {{> components/cart/content}}
                    </div>

                    <div class="cart-delivery">
                        <div class="cart-delivery-content">
                            <h2>Delivery Estimator</h2>
                            <p>Please fill in all relevant details for an accurate delivery quote. If you have no
                                Post/Zip
                                Code, instead
                                please enter 123 into the input box before generating your estimate.</p>
                            {{> components/cart/shipping-estimator cart.shipping_handling}}
                        </div>
                    </div>

                    <div class="cart-totals">
                        <div class="cart-totals-content" data-cart-totals>
                            {{> components/cart/totals}}
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="emptyMessage">
                    <h3>No Items Added</h3>
                    <p>Your shopping cart is currently empty. Add available items from any of our collections to view
                        your cart and
                        proceed to the checkout.</p>
                    <a class="button button--primary" href="/">Continue Shopping</a>
                </div>
            {{/if}}
        </div>
    </main>
{{/partial}}
{{> layout/base}}