<ul class="addressList">
    {{#each customer.addresses}}
        <li class="address">
            <div class="address-card">
                <strong class="address-name">{{first_name}} {{last_name}}</strong>
                <address class="address-details address-details--postal">
                    {{#if company}}
                        {{company}},</br>
                    {{/if}}
                    {{address1}},</br>
                    {{#if address2}}
                        {{address2}},</br>
                    {{/if}}
                    {{city}},{{#if state}} {{state}},{{/if}} {{zip}},</br>
                    {{country}}</br>
                    {{#if phone}}
                        {{phone}}
                    {{/if}}
                </address>
                <form action="{{delete_url}}" method="post" data-delete-address="{{lang 'forms.address.confirm_delete'}}">
                    <div class="form-actions">
                        <a class="button button--small" href="{{edit_url}}">{{lang 'common.edit' }}</a>
                        <button type="submit" class="button button--small">{{lang 'common.delete' }}</button>
                    </div>
                </form>
            </div>
        </li>
    {{/each}}
    <li class="address">
        <a class="address-card" href="{{urls.account.add_address}}">
            <span class="address-symbol">&plus;</span>
            <strong class="address-title">{{lang 'account.addresses.new_address' }}</strong>
        </a>
    </li>
</ul>