<ul class="account-list">
    {{#each orders}}
        <li class="account-listItem">
            <div class="account-order">
                <strong class="account-orderTitle">
                    {{lang 'account.orders.list.order_number' number=this.id}}
                </strong>
                <span class="account-orderStatus">
                    <label>Order Status:</label>
                    {{this.status}}
                </span>
                <span class="account-orderPrice">
                    {{lang 'account.orders.list.product_details' num_products=this.items.length cost=this.total.formatted}}
                </span>
                <span class="account-orderDate">
                    <label>{{lang 'account.orders.order_placed' }}:</label>
                    {{this.date}}
                </span>
                <span class="account-orderProducts">Order Items:</span>
                {{#each items}}
                    <span class="account-orderProduct">{{quantity}} &#215; {{name}}</span>
                {{/each}}
            </div>
        </li>
    {{/each}}
</ul>