// =============================================================================
// WRITE A REVIEW (CSS)
// =============================================================================

.writeReview-form {
    background-color: $color-greyLightest;
    border-radius: $global-radius;
    margin-bottom: 40px;
    padding: (spacing("single") - spacing("sixth")) spacing("single");

    @include breakpoint("xsmall") {
        margin-bottom: 50px;
    }

    @include breakpoint("small") {
        margin-bottom: 60px;
    }

    @include breakpoint("medium") {
        margin-bottom: 80px;
    }

    @include breakpoint("large") {
        margin-bottom: 100px;
        padding: (spacing("single") + spacing("third"))
            (spacing("single") + spacing("half"));
    }
}
