<section class="home-featuredBrands">
    <h2 class="section-heading">Our brands</h2>
    <ul class="brandCarousel" data-list-name="featuredBrands" data-slick='{
        "arrows": true,
        "infinite": false,
        "mobileFirst": true,
        "slidesToShow": 2,
        "slidesToScroll": 1,
        "nextArrow": "#brandCarousel-right",
        "prevArrow": "#brandCarousel-left",
        "slide": "[data-brand-slide]",
        "responsive": [
            {
                "breakpoint": 1024,
                "settings": {
                    "slidesToShow": 4
                }
            },
            {
                "breakpoint": 768,
                "settings": {
                    "slidesToShow": 3
                }
            }
        ]
    }'>
        {{#each shop_by_brand}}
            <li data-brand-slide class="brandCarousel-slide">
                <a class="brand-card" href="{{url}}">
                    <figure class="brand-card-image-wrapper">
                        <img src="{{cdn (concat (concat 'webdav:images/brand-carousel/' name) '-card-bg.jpg')}}">
                    </figure>
                    <span class="brand-name">{{name}}</span>
                </a>
            </li>
        {{/each}}
    </ul>
    <div class="brandCarousel-controls">
        <button id="brandCarousel-left">
            <span class="material-symbols-outlined">arrow_back</span>
        </button>
        <button id="brandCarousel-right">
            <span class="material-symbols-outlined">arrow_forward</span>
        </button>

        <a href="/brands/" class="button button--primary">
            View All
        </a>
    </div>
</section>