<section class="home-featuredProduct">
    <figure class="featuredProduct-image-wrapper">
        <img src="{{cdn 'webdav:images/home/featured-product-bg.jpg'}}">
    </figure>
    <div class="featuredProduct-overlay">
        <div class="featuredProduct-content-wrapper">
            <div class="featuredProduct-content">
                <h2 class="section-heading">Blueair blue air fan</h2>
                <p>The latest release by Blueair, this powerful little fan cleans and filters air while cooling it down.
                    Allowing it to mimick a fresh breeze in your home.</p>
                <a href="/replacement-filters/" class="button button--secondary">
                    View Product
                </a>
            </div>
        </div>
    </div>
</section>