<section class="home-featuredPages">
    <div class="featuredPage">
        <figure class="featuredPage-image-wrapper">
            <img src="{{cdn 'webdav:images/home/featured-left-page-image.jpg'}}">
        </figure>
        <div class="featuredPage-content">
            <h3 class="featuredPage-title">How do air purifers work?</h3>
            <p>Would you like to know how air purifiers actually deal with airborne contaminants? It may seem
                obvious on
                paper, but
                high-quality air purification is far from simple.</p>
            <a href="/replacement-filters/" class="button button--primary">
                Learn More
            </a>
        </div>
    </div>
    <div class="featuredPage">
        <figure class="featuredPage-image-wrapper">
            <img src="{{cdn 'webdav:images/home/featured-right-page-image.jpg'}}">
        </figure>
        <div class="featuredPage-content">
            <h3 class="featuredPage-title">How do air purifers work?</h3>
            <p>Would you like to know how air purifiers actually deal with airborne contaminants? It may seem
                obvious on
                paper, but
                high-quality air purification is far from simple.</p>
            <a href="/replacement-filters/" class="button button--primary">
                Learn More
            </a>
        </div>
    </div>
</section>