<section class="home-featuredCategory">
    <figure class="featuredCategory-image-wrapper">
        <img src="{{cdn 'webdav:images/home/featured-category-image.png'}}">
    </figure>
    <div class="featuredCategory-content">
        <h2 class="section-heading">Is it time to replace your filters?</h2>
        <p>To get the most out of your air purifier, it’s important that you replace the internal filter regularly. So,
            if it’s time to replace yours, be sure to have a look at our range. If you find what you’re looking for, we
            can get it to you for the next working day.</p>
        <a href="/replacement-filters/" class="button button--primary">
            Our Collection
        </a>
    </div>
</section>