<section class="home-featuredPages">
    <div class="featuredPage">
        <figure class="featuredPage-image-wrapper">
            <img src="{{cdn 'webdav:images/home/featured-left-page-image.jpg'}}">
        </figure>
        <div class="featuredPage-content">
            <h3 class="featuredPage-title">Types of air purifiers</h3>
            <p>When it comes to air purifiers, there are actually a few different types to be aware of. Each has a
                different level of
                quality and is suitable for different functions depending on individual requirements.</p>
            <a href="/replacement-filters/" class="button button--primary">
                Learn More
            </a>
        </div>
    </div>
    <div class="featuredPage">
        <figure class="featuredPage-image-wrapper">
            <img src="{{cdn 'webdav:images/home/featured-right-page-image.jpg'}}">
        </figure>
        <div class="featuredPage-content">
            <h3 class="featuredPage-title">Common air contaminants</h3>
            <p>The air in your home is most likely much more contaminated than you'd think. However, making it clean
                isn't an
                impossible task and the best way to start is to understand what you're fighting.</p>
            <a href="/replacement-filters/" class="button button--primary">
                Learn More
            </a>
        </div>
    </div>
</section>