<section class="home-featuredProduct">
    <figure class="featuredProduct-image-wrapper">
        <img src="{{cdn 'webdav:images/home/featured-product-bg.jpg'}}">
    </figure>
    <div class="featuredProduct-overlay">
        <div class="featuredProduct-content-wrapper">
            <div class="featuredProduct-content">
                <h2 class="section-heading">Duux whisper flex air fan</h2>
                <p>Feature rich and highly capable, the Duux Whisper Flex smart is the ideal way to stay cool this summer with up to 26 speed settings available to suit individual preferences perfectly.</p>
                <a href="/duux-whisper-flex-smart-air-fan-in-black/" class="button button--secondary">
                    View Product
                </a>
            </div>
        </div>
    </div>
</section>