// =============================================================================
// CARDS (CSS)
// =============================================================================
//
// 1. Allow users to click the anchor tag on the image in the figcaption empty
//    space. This provides a much larger and simpler hit state for navigating
//    to the product details page. (Does not work in IE10 or earlier).
// 2. Using translate3d to counter a chrome specific bug: When using a masonry
//    styled layout via CSS column-count etc, transforms applied to descendants
//    are made invisible, except for 3d transforms...
//
// -----------------------------------------------------------------------------

.card {
    &:focus-within {
        .card-figcaption {
            opacity: 1;
        }
    }

    &.focus-within {
        .card-figcaption {
            opacity: 1;
        }
    }
}

.card-figure {
    background-color: $color-greyLightest;
    border-radius: 7%;
    margin: 0;
    overflow: hidden;
    padding: 10px;
    position: relative;

    &:hover {
        .card-figcaption {
            opacity: 1;
        }
    }

    &__link {
        background-color: $color-black;
        display: block;
        position: relative;
    }
}

.card-img-container {
    background-color: $color-greyLightest;
    max-width: get-width(stencilString("productgallery_size"));
    opacity: 0.98;
}

.card-image {
    border: 0;
    width: 100%;

    &::after {
        display: none;
    }
}

.card-figcaption {
    display: none;
    margin: $card-figcaption-margin;
    pointer-events: none; // 1

    @include breakpoint("medium") {
        display: block;
    }
}

.card-figcaption-body {
    display: $card-figcaption-body-display;
    pointer-events: all; // 1
    transform: translate3d(0, -50%, 0); // 2
}

.card-title {
    font-size: 13px;
    font-weight: normal;
    line-height: 1.3;
    margin-bottom: 5px;

    @include breakpoint("medium") {
        font-size: $card-title-fontSize;
    }

    > a {
        color: $card-title-color;
        display: block;
        text-decoration: $card-title-textDecoration;

        &:hover {
            color: $color-primary;
        }
    }
}

.card-text {
    align-items: center;
    display: flex;
    font-size: 15px;
    font-weight: 600;

    @include breakpoint("medium") {
        font-size: 17px;
    }

    .non-sale-price--withTax {
        color: $color-textBase;
        font-size: 12px;
        font-weight: 400;
        margin-left: 15px;
        opacity: 0.3;

        @include breakpoint("medium") {
            font-size: 14px;
            margin-left: 25px;
        }
    }

    abbr {
        border: 0;
        color: inherit;
        font-size: inherit;
    }
}

.card-figcaption-button {
    border: $card-figcaption-button-border;
    display: $card-figcaption-button-display;
    margin: $card-figcaption-button-margin;

    &:active {
        background-color: $card-figcaption-button-backgroundHover;
        border: $card-figcaption-button-border;
    }

    .card-figcaption-body & {
        &:focus {
            background-color: $card-figcaption-button-backgroundHover;
            outline: revert;
        }
    }

    + .card-figcaption-button {
        margin: $card-figcaption-button-margin;
    }
}

.card-body {
    text-align: left;

    .card-text {
        color: $color-primary;
    }
}

//
// Alternate card
//
// Purpose: Used to give the card alternative styling
// -----------------------------------------------------------------------------

.card--alternate {
    border: 3px solid stencilColor("card--alternate-borderColor");
    transition: all 0.15s ease;

    .card-body {
        background-color: stencilColor("card--alternate-backgroundColor");
        padding: spacing("half");
        transition: all 0.15s ease;

        @include breakpoint("small") {
            padding: spacing("single");
        }

        .card-text {
            color: $color-primary;
        }
    }

    &:hover {
        border-color: stencilColor("color-primary");

        .card-body {
            background-color: stencilColor("color-primary");

            .card-text {
                color: $color-textBase;
            }
        }

        .card-title > a {
            color: stencilColor("card--alternate-color--hover");
        }
    }
}
