{{#contains display_name "Gift"}}
    {{#if display_name '===' 'Gift 1'}}
        <label class="form-label form-label--alternate">Free Gifts</label>
    {{/if}}
    <div class="productOptions-item" data-product-attribute="product-list" data-product-attribute-value="{{id}}">
        {{#each values}}
            <input class="form-checkbox" type="checkbox" name="attribute[{{../id}}]" value="{{id}}"
                id="attribute_productlist_{{../id}}_{{id}}" {{#if selected}}checked
                data-default{{/if}}{{#if ../required}} required{{/if}}>
            <figure class="productOptions-item-image">
                <div class="productOptions-item-image-wrapper">
                    {{> components/common/responsive-img
                        image=image
                        class="productOptions-list-item-image"
                        lazyload='lazyload+lqip'
                    }}
                </div>
            </figure>
            <label data-product-attribute-value="{{id}}" class="form-label"
                for="attribute_productlist_{{../id}}_{{id}}">{{label}}</label>
        {{/each}}
    </div>
    {{else contains display_name "Option"}}
        {{#if display_name '===' 'Option 1'}}
            <label class="form-label form-label--alternate">Product Options</label>
        {{/if}}
        <div class="productOptions-item" data-product-attribute="product-list" data-product-attribute-value="{{id}}">
            {{#each values}}
                <input class="form-checkbox" type="checkbox" name="attribute[{{../id}}]" value="{{id}}"
                    id="attribute_productlist_{{../id}}_{{id}}" {{#if selected}}checked
                    data-default{{/if}}{{#if ../required}} required{{/if}}>
                <figure class="productOptions-item-image">
                    <div class="productOptions-item-image-wrapper">
                        {{> components/common/responsive-img
                            image=image
                            class="productOptions-list-item-image"
                            lazyload='lazyload+lqip'
                        }}
                    </div>
                </figure>
                <label data-product-attribute-value="{{id}}" class="form-label"
                    for="attribute_productlist_{{../id}}_{{id}}">{{label}}</label>
            {{/each}}
        </div>
        {{else contains display_name "Attachment"}}
            {{#if display_name '===' 'Attachment 1'}}
                <label class="form-label form-label--alternate">Product Attachments</label>
            {{/if}}
            <div class="productOptions-item" data-product-attribute="product-list"
                data-product-attribute-value="{{id}}">
                {{#each values}}
                    <input class="form-checkbox" type="checkbox" name="attribute[{{../id}}]" value="{{id}}"
                        id="attribute_productlist_{{../id}}_{{id}}" {{#if selected}}checked
                        data-default{{/if}}{{#if ../required}} required{{/if}}>
                    <figure class="productOptions-item-image">
                        <div class="productOptions-item-image-wrapper">
                            {{> components/common/responsive-img
                                image=image
                                class="productOptions-list-item-image"
                                lazyload='lazyload+lqip'
                            }}
                        </div>
                    </figure>
                    <label data-product-attribute-value="{{id}}" class="form-label"
                        for="attribute_productlist_{{../id}}_{{id}}">{{label}}</label>
                {{/each}}
            </div>
{{/contains}}