// =============================================================================
// Stencil Checkout - Customize the Optimized Single-Page Checkout experience
// =============================================================================

// =============================================================================
//
// IMPORTANT DISCLAIMER
// Please do not nest elements within class selectors, and do not use class selectors other than those given below.
// Future support is guaranteed only if class selectors' structure and naming are left unchanged.
//
// =============================================================================

//
// Header Section
// Background, Logo Position
// -----------------------------------------------------------------------------

.optimizedCheckout-header {
    background-color: stencilColor("optimizedCheckout-header-backgroundColor");
    // scss-lint:disable StringQuotes
    background-image: url(stencilImage('optimizedCheckout-backgroundImage', 'optimizedCheckout-backgroundImage-size'));
    // scss-lint:enable StringQuotes
    background-size: cover;
    border-color: stencilColor("optimizedCheckout-header-borderColor");
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: stencilColor("optimizedCheckout-header-textColor");
    min-height: auto;
    text-align: center;

    .checkoutHeader-content {
        padding: 20px 30px;
    }

    img {
        display: block;
        margin: auto;
    }
}

//
// Primary and Secondary Headings
// Text Color & Typography
// .optimizedCheckout-headingPrimary styles top-level headings.
// .optimizedCheckout-headingSecondary styles certain lower-level elements, such as descriptions of cart items.
// -----------------------------------------------------------------------------

.optimizedCheckout-headingPrimary {
    color: stencilColor("optimizedCheckout-headingPrimary-color");
    font-family: stencilFontFamily("optimizedCheckout-headingPrimary-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout-headingPrimary-font");
}

.optimizedCheckout-headingSecondary {
    color: stencilColor("optimizedCheckout-headingSecondary-color");
    font-family: stencilFontFamily("optimizedCheckout-headingSecondary-font"), Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: stencilFontWeight("optimizedCheckout-headingSecondary-font");
}

#checkout-shipping-options .form-body::before {
    color: red;
    content: 'Orders placed after 14:00 will be dispatched on the following working day (Monday to Friday excluding Bank Holidays)';
    display: block;
    margin: 5px 0 20px 0;
}

.stepHeader {
    align-items: center;
}

.stepHeader-body.optimizedCheckout-contentPrimary {
    display: none;
}

.stepHeader-actions {
    margin: auto 0 auto auto;

    .optimizedCheckout-buttonSecondary {
        background-color: transparent;
        border: none;
        color: stencilColor("optimizedCheckout-link-color");
        letter-spacing: 0;
        padding: 0;

        &:hover, &:focus {
            background-color: transparent;
            border: none;
            color: stencilColor("optimizedCheckout-link-hoverColor");
        }

        &::after {
            display: none;
        }
    }
}

//
// Body
// Background & Shipping Method Overlay
// -----------------------------------------------------------------------------

body {
    background-color: stencilColor("optimizedCheckout-body-backgroundColor");
}

.optimizedCheckout-overlay {
    background-color: stencilColor("optimizedCheckout-body-backgroundColor");
    border-color: stencilColor("optimizedCheckout-step-borderColor");
    color: stencilColor("optimizedCheckout-contentPrimary-color");
}

.orderConfirmation-section {
    border-bottom: none;
}

.guest-signup {
    display: none;
}

//
// Primary & Secondary Content
// Text Color & Typography
// .optimizedCheckout-contentPrimary styles body text in the Order Summary/Order Confirmation; drop-down-list items; and text that summarizes completed steps.
// .optimizedCheckout-contentSecondary styles check boxes' text labels, and lower-level text in the Order Summary.
// -----------------------------------------------------------------------------

.optimizedCheckout-contentPrimary {
    color: stencilColor("optimizedCheckout-contentPrimary-color");
    font-family: stencilFontFamily("optimizedCheckout-contentPrimary-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout-contentPrimary-font");
}

.optimizedCheckout-contentSecondary {
    color: stencilColor("optimizedCheckout-contentSecondary-color");
    font-family: stencilFontFamily("optimizedCheckout-contentSecondary-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout-contentSecondary-font");
}

//
// Primary Button
// Background & Border & Text Color & Typography
// Styles the CONTINUE button for each step, & the final confirmation button.
// -----------------------------------------------------------------------------

.optimizedCheckout-buttonPrimary {
    background-color: stencilColor("optimizedCheckout-buttonPrimary-backgroundColor");
    border-color: stencilColor("optimizedCheckout-buttonPrimary-borderColor");
    border-radius: 50px;
    color: stencilColor("optimizedCheckout-buttonPrimary-color");
    font-family: stencilFontFamily("optimizedCheckout-buttonPrimary-font"), Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: stencilFontWeight("optimizedCheckout-buttonPrimary-font");
    line-height: 1;
    text-transform: none;
    transition: all 750ms ease;
    width: auto;

    &:focus,
    &:hover {
        background-color: stencilColor("optimizedCheckout-buttonPrimary-backgroundColorHover");
        border-color: stencilColor("optimizedCheckout-buttonPrimary-borderColorHover");
        color: stencilColor("optimizedCheckout-buttonPrimary-colorHover");
    }

    &:focus {
        border-color: stencilColor("optimizedCheckout-colorFocus");
    }

    &:active {
        background-color: stencilColor("optimizedCheckout-buttonPrimary-backgroundColorActive");
        border-color: stencilColor("optimizedCheckout-buttonPrimary-borderColorActive");
        color: stencilColor("optimizedCheckout-buttonPrimary-colorActive");
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &[disabled].is-active,
    &[disabled].is-loading,
    &[disabled].active {
        background-color: stencilColor("optimizedCheckout-buttonPrimary-backgroundColorDisabled");
        border-color: stencilColor("optimizedCheckout-buttonPrimary-borderColorDisabled");
        color: stencilColor("optimizedCheckout-buttonPrimary-colorDisabled");
    }
}

//
// Secondary Button
// Background & Border & Text Color & Typography
// Styles the EDIT button for each step.
// -----------------------------------------------------------------------------

.optimizedCheckout-buttonSecondary {
    background-color: stencilColor("optimizedCheckout-buttonSecondary-backgroundColor");
    border-color: stencilColor("optimizedCheckout-buttonSecondary-borderColor");
    border-radius: 50px;
    color: stencilColor("optimizedCheckout-buttonSecondary-color");
    font-family: stencilFontFamily("optimizedCheckout-buttonSecondary-font"), Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: stencilFontWeight("optimizedCheckout-buttonSecondary-font");
    line-height: 1;
    text-transform: none;
    transition: all 750ms ease;

    &:focus,
    &:hover {
        background-color: stencilColor("optimizedCheckout-buttonSecondary-backgroundColorHover");
        border-color: stencilColor("optimizedCheckout-buttonSecondary-borderColorHover");
        color: stencilColor("optimizedCheckout-buttonSecondary-colorHover");
    }

    &:focus {
        border-color: stencilColor("optimizedCheckout-colorFocus");
        box-shadow: 0 0 3px stencilColor("optimizedCheckout-colorFocus");
    }

    &:active {
        background-color: stencilColor("optimizedCheckout-buttonSecondary-backgroundColorActive");
        border-color: stencilColor("optimizedCheckout-buttonSecondary-borderColorActive");
        color: stencilColor("optimizedCheckout-buttonSecondary-colorActive");
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &[disabled].is-active,
    &[disabled].is-loading,
    &[disabled].active {
        background-color: stencilColor("optimizedCheckout-buttonPrimary-backgroundColorDisabled");
        border-color: stencilColor("optimizedCheckout-buttonPrimary-borderColorDisabled");
        color: stencilColor("optimizedCheckout-buttonPrimary-colorDisabled");
    }
}

//
// Links
// Text Color & Typography
// -----------------------------------------------------------------------------

a {
    color: stencilColor("optimizedCheckout-link-color");
    font-family: stencilFontFamily("optimizedCheckout-link-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout-link-font");

    &:focus,
    &:hover {
        color: stencilColor("optimizedCheckout-link-hoverColor");
    }
}

.button--primary,
.button--secondary,
.button--tertiary,
.button--action {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0.42857rem;
    padding-left: 2.37143rem;

    &::after {
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        color: #333333;
        content: "\e5c8";
        display: flex;
        font-family: "Material Icons";
        font-size: 20px;
        font-weight: 600;
        height: 2.37143rem;
        justify-content: center;
        margin-left: 1.8rem;
        width: 2.37143rem;
    }
}

//
// Order Summary (Mobile Drawer & Modal)
// Background Color
// -----------------------------------------------------------------------------

.optimizedCheckout-orderSummary {
    background-color: stencilColor("optimizedCheckout-orderSummary-backgroundColor");
    border-color: stencilColor("optimizedCheckout-orderSummary-borderColor");
    border-radius: 20px;
    box-shadow: none;

    .optimizedCheckout-contentSecondary {
        display: none;
    }

    .redeemable-label {
        color: #fff;
        position: relative;

        &::after {
            color: stencilColor("optimizedCheckout-colorFocus");
            content: 'Gift Certificate';
            font-size: 13px;
            left: 0;
            position: absolute;
            width: 100%;
        }
    }

    .form-prefixPostfix {
        input {
            border-radius: 50px 0 0 50px;
        }

        button {
            border-radius: 0 50px 50px 0;
        }
    }
}

.optimizedCheckout-orderSummary-cartSection {
    border-color: stencilColor("optimizedCheckout-orderSummary-borderColor");
}

.optimizedCheckout-checkoutStep {
    border-color: stencilColor("optimizedCheckout-step-borderColor");
}

//
// Checkout Steps
// Background & Text Color
// Styles the large step-number indicators on the page's left side.
// -----------------------------------------------------------------------------

.optimizedCheckout-step {
    background-color: stencilColor("optimizedCheckout-step-backgroundColor");

    &::before {
        color: stencilColor("optimizedCheckout-step-textColor");
    }

    svg {
        fill: stencilColor("optimizedCheckout-step-textColor");
    }
}

.customerEmail-body {
    width: 100%;
}

.customerEmail-action {
    margin: 20px 0 0 0;
    padding: 0;
    width: auto;
}

//
// Form Labels
// Text Color
// Styles text labels on form fields.
// -----------------------------------------------------------------------------

.optimizedCheckout-form-label {
    color: stencilColor("optimizedCheckout-form-textColor");
    font-size: 11px;
    font-weight: 400;

    small {
        display: none;
    }
}

.form-fieldset {
    margin-bottom: 30px;

    .shippingOptions-panel {
        border: none;
        min-height: auto;
        padding: 0;
        text-align: left;
    }
}

#checkoutShippingAddress {
    .form-fieldset {
        margin: 0;
    }
}

.form-checkbox + .optimizedCheckout-form-label {
    letter-spacing: 0;
    text-transform: none;
}

.form-field--error {
    .optimizedCheckout-form-label,
    .form-inlineMessage {
        color: stencilColor("optimizedCheckout-formField-errorColor");
    }
}

.form-field-password {
    margin-bottom: 10px
}

.form-actions {
    margin: 20px 0;

    .button + .button {
        margin-left: 20px;
    }
}

.form-prefixPostfix .button {
    height: 46px;
    margin: 0;
}

.checkout-address .dynamic-form-field {
    margin-bottom: 20px
}

.dropdown-toggle--select {
    margin-bottom: 20px;
}

//
// Form Input
// Background, Border, Shadow and Text Color
// Styles form fields.
// -----------------------------------------------------------------------------

$optimizedCheckout-input-boxShadow: inset 0 1px 1px stencilColor("optimizedCheckout-formField-shadowColor");
$optimizedCheckout-input--focus-boxShadow: 0 0 3px transparentize(stencilColor("optimizedCheckout-colorFocus"), 0.4);
$optimizedCheckout-input--error-boxShadow: 0 0 3px transparentize(stencilColor("optimizedCheckout-formField-errorColor"), 0.4);

.optimizedCheckout-form-input {
    background-color: stencilColor("optimizedCheckout-formField-backgroundColor");
    border-color: stencilColor("optimizedCheckout-formField-borderColor");
    border-radius: 50px;
    box-shadow: $optimizedCheckout-input-boxShadow;
    color: stencilColor("optimizedCheckout-formField-textColor");
    padding: 14px 20px;

    &::placeholder {
        color: stencilColor("optimizedCheckout-formField-placeholderColor");
    }

    .form-field--error & {
        background-color: stencilColor("optimizedCheckout-formField-backgroundColor");
        border-color: stencilColor("optimizedCheckout-formField-errorColor");
        box-shadow: none;
    }
}

.optimizedCheckout-form-select {
    background-color: stencilColor("optimizedCheckout-formField-backgroundColor");
    border-color: stencilColor("optimizedCheckout-formField-borderColor");
    border-radius: 50px;
    box-shadow: $optimizedCheckout-input-boxShadow;
    color: stencilColor("optimizedCheckout-formField-textColor");
    padding: 14px 40px 14px 20px;

    &::placeholder {
        color: stencilColor("optimizedCheckout-formField-placeholderColor");
    }

    .form-field--error & {
        background-color: stencilColor("optimizedCheckout-formField-backgroundColor");
        border-color: stencilColor("optimizedCheckout-formField-errorColor");
        box-shadow: none;
    }
}

.optimizedCheckout-form-input:focus,
.optimizedCheckout-form-select:focus,
.optimizedCheckout-form-select:hover {
    background-color: stencilColor("optimizedCheckout-formField-backgroundColor");
    border-color: stencilColor("optimizedCheckout-colorFocus");
    box-shadow: none;
}

.optimizedCheckout-form-label::before {
    .optimizedCheckout-form-radio + &,
    .optimizedCheckout-form-checkbox + & {
        background-color: stencilColor("optimizedCheckout-formField-backgroundColor");
        border-color: stencilColor("optimizedCheckout-formField-borderColor");
        box-shadow: $optimizedCheckout-input-boxShadow;
        opacity: 1;
    }

    .optimizedCheckout-form-radio:checked + &,
    .optimizedCheckout-form-checkbox:checked + & {
        background-color: stencilColor("optimizedCheckout-formField-inputControlColorSelected");
        border-color: stencilColor("optimizedCheckout-formField-inputControlColorSelected");
        box-shadow: none;
    }

    .optimizedCheckout-form-radio:focus + &,
    .optimizedCheckout-form-checkbox:focus + & {
        border-color: stencilColor("optimizedCheckout-colorFocus");
        box-shadow: $optimizedCheckout-input--focus-boxShadow, $optimizedCheckout-input-boxShadow;
    }

    .optimizedCheckout-form-radio:focus:checked + &,
    .optimizedCheckout-form-checkbox:focus:checked + & {
        box-shadow: $optimizedCheckout-input--focus-boxShadow;
    }
}

//
// Discount Banners
// Background & Text & Icon Color
// Styles discount banners.
// -----------------------------------------------------------------------------

.optimizedCheckout-discountBanner {
    background-color: stencilColor("optimizedCheckout-discountBanner-backgroundColor");
    color: stencilColor("optimizedCheckout-discountBanner-textColor");
    font-family: stencilFontFamily("optimizedCheckout-link-font"), Arial, Helvetica, sans-serif;
    font-weight: stencilFontWeight("optimizedCheckout-link-font");

    svg {
        fill: stencilColor("optimizedCheckout-discountBanner-iconColor");
    }
}

//
// Form Checklist (Shipping / Payment methods)
// Background & Border & Text Color
// Styles form checklists
// -----------------------------------------------------------------------------

.optimizedCheckout-form-checklist {
    background-color: transparent;
    border: none;
    color: stencilColor("optimizedCheckout-formChecklist-color");

    &:only-child {
        border-radius: 0;
    }
}

.optimizedCheckout-form-checklist-item {
    background-color: stencilColor("optimizedCheckout-formChecklist-backgroundColor");
    border: 1px solid;
    border-color: stencilColor("optimizedCheckout-formChecklist-borderColor");
    border-radius: 20px;
    color: stencilColor("optimizedCheckout-formChecklist-color");
    margin-bottom: 20px;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;

    &:hover {
        border-color: stencilColor("optimizedCheckout-link-color");
    }

    &:last-child {
        border: 1px solid;
        border-color: stencilColor("optimizedCheckout-formChecklist-borderColor");
        margin-bottom: 0;

        &:hover {
            border-color: stencilColor("optimizedCheckout-link-color");
        }
    }

    .form-label {
        align-items: center;
        display: flex;
        font-size: 13px;
        font-weight: 400;
        justify-content: space-between;
        letter-spacing: 0;
        min-height: auto;
        padding: 15px 20px;
        padding-left: 65px;
        text-transform: none;

        &[for=radio-sagepay] .creditCardTypes-list li {
            &:nth-child(2), &:nth-child(4), &:nth-child(5) {
                display: none;
            }
        }

        .shippingOption-price {
            font-weight: 600;
        }

        .shippingOptionLabel {
            width: 100%;
        }
    }

    .form-checklist-body {
        margin: 0 20px;

        .optimizedCheckout-form-input {
            background-color: #fff;
        }

        .form-ccFields-field--ccCvv, .form-field--ccExpiry {
            min-width: 125px;
        }

        .form-label {
            font-size: 11px;
            padding: 0;
        }
    }
}

.optimizedCheckout-form-checklist-item:hover,
.optimizedCheckout-form-checklist-item:focus,
.optimizedCheckout-form-checklist-item:active,
.optimizedCheckout-form-checklist-item--selected {
    background-color: stencilColor("optimizedCheckout-formChecklist-backgroundColor");
    border-color: stencilColor("optimizedCheckout-link-color");
    outline: none;

    &:last-child {
        border: 1px solid;
        border-color: stencilColor("optimizedCheckout-link-color");
        margin-bottom: 0;

        &:hover {
            border-color: stencilColor("optimizedCheckout-link-color");
        }
    }
}

.optimizedCheckout-form-checklist-checkbox {
    ~ .form-label::after,
    ~ .form-label::before {
        background: stencilColor("optimizedCheckout-formField-inputControlColor");
        border-color: stencilColor("optimizedCheckout-formField-inputControlColor");
    }

    &:checked ~ .form-label::before {
        background-color: stencilColor("optimizedCheckout-formChecklist-backgroundColorSelected");
        border-color: stencilColor("optimizedCheckout-formField-inputControlColorSelected");
    }

    &:checked ~ .form-label::after {
        background: stencilColor("optimizedCheckout-formField-inputControlColorSelected");
    }
}

//
// Loading Toaster
// Background & Text Color
// Styles the Loading Toaster
// -----------------------------------------------------------------------------

.optimizedCheckout-loadingToaster {
    background-color: stencilColor("optimizedCheckout-loadingToaster-backgroundColor");
    color: stencilColor("optimizedCheckout-loadingToaster-textColor");
}
