{{#partial "page"}}
    <h1 class="page-heading">{{lang 'account.wishlists.view_heading' name=wishlist.name}}</h1>

    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    <div class="account" data-pagination-wishlist>
        {{> components/account/navigation account_page='wishlists'}}

        {{#if wishlist.items}}
            {{> components/account/wishlist-item-list show_remove=wishlist.is_editable}}
        {{else}}
            <section class="account--fixedSmall">
                <p>You haven't added any products to your wish list yet. Take a look at our collections and we'll keep any products
                    you add here for you.</p>
                <a class="button button--primary" href="/">Continue Shopping</a>
            </section>
        {{/if}}
    </div>
{{/partial}}
{{> layout/base}}
