<strong class="sidebarBlock-heading">
    {{lang 'search.faceted.selected.title'}}
    <span class="facetedSearch-close"></span>
</strong>
{{#if this.items}}
    <div class="facetedSearch-selected">
        <ul class="inlineList inlineList--labels">
            {{#each this.items}}
                <li>
                    <a href="{{ url }}" class="facetLabel" rel="nofollow" data-faceted-search-facet>
                        {{#if facet '===' 'rating'}}
                            {{lang 'search.faceted.selected.rating-label' rating=title}}
                        {{else}}
                            {{{ sanitize title }}}
                        {{/if}}
                        <svg class="icon">
                            <use xlink:href="#icon-close" />
                        </svg>
                    </a>
                </li>
            {{/each}}
        </ul>
        {{#if remove_all_url}}
            <a class="clear-link" href="{{ remove_all_url }}" data-faceted-search-facet>
                {{lang 'search.faceted.selected.clear-all'}}
            </a>
        {{/if}}
    </div>
{{/if}}