<div class="cart" data-cart-quantity="{{cart.quantity}}">
    <div class="cart-list">
        {{#each cart.items}}
            <div class="cart-item" data-item-row>
                <figure class="cart-item-figure">
                    {{#if type '==' 'GiftCertificate'}}
                        <a href="{{url}}" class="cart-item-image-wrapper">
                            <div class="cart-item-image">
                                <img class="cart-item-fixed-image"
                                    src="{{cdn ../../theme_settings.default_image_gift_certificate}}"
                                    alt="GiftCertificate" title="GiftCertificate">
                            </div>
                        </a>
                    {{else}}
                        <a href="{{url}}" class="cart-item-image-wrapper">
                            <div class="cart-item-image">
                                {{> components/common/responsive-img image=image class="cart-item-image" fallback_size=../../theme_settings.productthumb_size lazyload='disabled' default_image=../../theme_settings.default_image_product }}
                            </div>
                        </a>
                    {{/if}}
                </figure>
                <div class="cart-item-content">
                    <div class="cart-item-details">
                        <strong class="cart-item-name"><a href="{{url}}">{{name}}</a></strong>
                        {{#if release_date}}
                            <p>({{release_date}})</p>
                        {{/if}}

                        {{> components/cart/item-giftwrap this}}

                        <div class="cart-item-price">
                            <span class="cart-item-value {{#if price_discounted}}price--discounted{{/if}}">
                                {{price.formatted}}
                            </span>
                            {{#if price_discounted}}
                                <span class="cart-item-value">{{price_discounted.formatted}}</span>
                            {{/if}}
                        </div>

                        {{#if options}}
                            <a class="cart-item-options" href="#" data-item-edit="{{id}}">Edit Product Options</a>
                        {{/if}}
                        {{#if type '==' 'GiftCertificate'}}
                            <a class="cart-item-options" href="{{edit_url}}">{{lang 'cart.checkout.change'}}</a>
                        {{/if}}
                    </div>
                    {{#if can_modify}}
                        <div class="cart-item-quantity">
                            <button class="button--icon" data-cart-update data-cart-itemid="{{id}}" data-action="dec">
                                <span class="material-symbols-outlined">
                                    remove
                                </span>
                            </button>
                            <input class="form-input form-input--incrementTotal cart-item-qty-input" id="qty-{{id}}"
                                name="qty-{{id}}" type="tel" value="{{quantity}}"
                                data-quantity-min="{{min_purchase_quantity}}"
                                data-quantity-max="{{max_purchase_quantity}}"
                                data-quantity-min-error="{{lang 'products.quantity_min' quantity=min_purchase_quantity}}"
                                data-quantity-max-error="{{lang 'products.quantity_max' quantity=max_purchase_quantity}}"
                                min="1" pattern="[0-9]*" data-cart-itemid="{{id}}" data-action="manualQtyChange"
                                aria-live="polite" {{#unless can_modify}} disabled{{/unless}}>
                            <button class="button--icon" data-cart-update data-cart-itemid="{{id}}" data-action="inc">
                                <span class="material-symbols-outlined">
                                    add
                                </span>
                            </button>
                        </div>
                    {{/if}}
                    <div class="cart-item-total">
                        <span class="cart-item-value">
                            {{total.formatted}}
                        </span>
                        {{#if total_discounted}}
                            <span class="cart-item-value">
                                {{total_discounted.formatted}}
                            </span>
                        {{/if}}
                    </div>
                    <div class="cart-item-edit">
                        {{#if can_modify}}
                            <button class="cart-item-remove" data-cart-itemid="{{id}}"
                                data-confirm-delete="{{lang 'cart.confirm_delete'}}"
                                aria-label="{{lang 'cart.remove_item' name=name}}">
                                <span class="material-symbols-outlined">
                                    cancel
                                </span>
                            </button>
                        {{else}}
                            {{#if type '==' 'GiftCertificate'}}
                                <button class="cart-item-remove" data-cart-itemid="{{id}}"
                                    data-confirm-delete="{{lang 'cart.confirm_delete'}}"
                                    aria-label="{{lang 'cart.remove_item' name=name}}">
                                    <span class="material-symbols-outlined">
                                        cancel
                                    </span>
                                </button>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>