{{#if errors}}
    {{lang 'errors.shipping_quote_failure'}}
    <ul>
        {{#each errors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{else}}
    <form class="estimator-form">
        {{#if quotes.shipping_methods}}
            <ul class="estimator-form-list">
                {{#each quotes.shipping_methods}}
                    <li class="estimator-form-item">
                        <input id="shipping-quote-{{type}}-{{id}}" class="shipping-quote" type="radio" name="shipping_method" value="{{id}}">
                        <label class="estimator-form-method" for="shipping-quote-{{type}}-{{id}}">
                            {{provider_name}}
                        </label>
                        <label class="estimator-form-price" for="shipping-quote-{{type}}-{{id}}">
                            {{cost.formatted}}
                        </label>
                    </li>
                {{/each}}
            </ul>
            {{#if quotes.ups_shipping_methods}}
                <a class="estimator-form-toggleUPSRate" href="#">{{lang 'cart.shipping_estimator.show_ups_rates'}}</a>
            {{/if}}
        {{/if}}
        {{#if quotes.ups_shipping_methods}}
            <ul>
                {{#each quotes.ups_shipping_methods}}
                    <li class="estimator-form-row">
                        <input id="shipping-quote-{{type}}-{{id}}" class="shipping-quote" type="radio" name="shipping_method" value="{{id}}">
                        <label class="estimator-form-label-text" for="shipping-quote-{{type}}-{{id}}">
                            {{#if logo_path}}
                            <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{logo_path}}" alt="{{description}}" title="{{description}}">
                            {{/if}}
                            {{provider_name}} &mdash; {{description}}
                        </label>
                        <label for="shipping-quote-{{type}}-{{id}}">
                            <b>{{cost.formatted}}</b>
                        </label>
                    </li>
                {{/each}}
            </ul>
            {{#if quotes.shipping_methods}}
                <a class="estimator-form-toggleUPSRate" href="#">{{lang 'cart.shipping_estimator.hide_ups_rates'}}</a>
            {{/if}}
        {{/if}}
        <input class="button button--primary select-shipping-quote" type="submit" value="{{lang 'cart.checkout.update'}}">
    </form>
{{/if}}
