// =============================================================================
// VIDEO GALLERY
// =============================================================================

.videoGallery-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.videoGallery-item {
    border-radius: $global-radius;
    height: 0;
    margin-bottom: spacing("single");
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 0px;
    position: relative;
    width: 100%;

    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
