// =============================================================================
// GRID (CSS)
// =============================================================================

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 $container-padding;
    position: relative;
    width: layout("fixed");

    @include breakpoint("medium") {
        max-width: $layout-widthMax + ($container-padding * 1.5);
        padding: 0 ($container-padding * 1.5);
    }

    @include breakpoint("large") {
        max-width: $layout-widthMax + ($container-padding * 2);
        padding: 0 ($container-padding * 2);
    }
}
