// =============================================================================
// CART (CSS)
// =============================================================================
//
// 1. Override server-generated inline-css
//
// -----------------------------------------------------------------------------

// Cart variables
// -----------------------------------------------------------------------------

$cart-item-spacing: spacing("single");

$cart-thumbnail-maxWidth: remCalc(100px);
$cart-thumbnail-height: remCalc(100px);

$cart-item-label-offset: $cart-thumbnail-maxWidth + $cart-item-spacing;

// Cart layout
// -----------------------------------------------------------------------------
//
// 1. On mobile and tablet we need to re-structure the table to appear more like
//    a list, then visually show it as a table on larger screens only.
//
// 2. Hide the table headings on mobile and tablet, show them for larger screens.
//
// -----------------------------------------------------------------------------

.cart-content {
    @include grid-row($behavior: "nest");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// Cart items

.cart-items {
    @include grid-column(12, $float: none);
    margin-bottom: spacing("double");
    order: 1;
}

.cart-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: spacing("double");
    width: 100%;

    @include breakpoint("xsmall") {
        flex-direction: row;
        margin-bottom: spacing("single");
    }

    &:last-child {
        margin-bottom: 0;
    }

    .cart-item-figure {
        background-color: $color-greyLightest;
        border-radius: 7%;
        margin: 0;
        max-width: 200px;
        overflow: hidden;
        padding: 10px;
        position: relative;
    }

    .cart-item-image-wrapper {
        background-color: $color-black;
        display: block;
    }

    .cart-item-image {
        background-color: $color-white;
        opacity: 0.98;
    }

    .cart-item-content {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: spacing("single");
        text-align: center;
        width: 100%;

        @include breakpoint("xsmall") {
            justify-content: space-between;
            margin-left: spacing("single");
            margin-top: 0;
            text-align: left;
        }

        @include breakpoint("small") {
            flex-wrap: nowrap;
            margin-left: spacing("double");
        }
    }

    .cart-item-details {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include breakpoint("small") {
            width: unset;
        }

        .cart-item-name {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: spacing("eighth");
            margin-left: auto;
            margin-right: auto;
            max-width: 200px;

            @include breakpoint("xsmall") {
                margin-left: unset;
                margin-right: unset;
                max-width: unset;
            }

            a {
                color: $color-textBase;
            }
        }

        .cart-item-price {
            color: $color-primary;
            font-size: 20px;
            font-weight: 600;
        }

        .cart-item-options {
            margin-top: spacing("single");
        }
    }

    .cart-item-quantity {
        align-items: center;
        background-color: $color-greyLightest;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        margin-top: spacing("half");
        overflow: hidden;

        @include breakpoint("small") {
            margin: 0 spacing("single");
        }

        .button--icon {
            align-items: center;
            background-color: $color-greyLightest;
            display: flex;
            font-size: 15px;
            height: 45px;
            justify-content: center;
            padding: 0;
            width: 45px;
        }

        input {
            background-color: $color-greyLightest;
            font-size: 18px;
            font-weight: 400;
        }
    }

    .cart-item-total {
        color: $color-textBase;
        display: none;
        font-size: 20px;
        font-weight: 600;

        @include breakpoint("medium") {
            display: block;
        }
    }

    .cart-item-edit {
        display: flex;
        margin-left: spacing("single");
        margin-top: (spacing("half") + spacing("sixth"));

        @include breakpoint("xsmall") {
            margin-right: auto;
        }

        @include breakpoint("small") {
            margin: 0;
        }

        .cart-item-remove {
            color: $color-primary;
            display: flex;
            padding: 0;

            span {
                font-size: 36px;
            }
        }
    }
}

// Cart delivery estimator

.cart-delivery {
    @include grid-column(12, $float: none);
    margin-bottom: spacing("double");
    order: 3;

    @include breakpoint("medium") {
        @include grid-column(8, $float: none);
        order: 2;
    }

    .estimator-form {
        .estimator-form-list {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
        }

        .estimator-form-item {
            align-items: center;
            background-color: $input-bg-color;
            border-radius: $global-radius;
            display: flex;
            line-height: 1.4;
            margin-bottom: 20px;
            padding: 16px 20px;
            position: relative;
            transition: all 500ms ease;
            -webkit-transition: all 500ms ease;
            -moz-transition: all 500ms ease;
            width: 100%;

            &.active {
                background-color: $color-primary;
                color: $color-white;
            }

            @include breakpoint("medium") {
                margin-right: 20px;
                width: calc((100% - 20px) / 2);

                &:nth-child(2n + 2) {
                    margin-right: 0;
                }
            }

            @include breakpoint("xxxlarge") {
                width: calc((100% - 40px) / 3);

                &:nth-child(2n + 2) {
                    margin-right: 20px;
                }

                &:nth-child(3n + 3) {
                    margin-right: 0;
                }
            }

            input {
                cursor: pointer;
                height: 100%;
                left: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }

        .estimator-form-price {
            margin-left: auto;
        }

        .form-row {
            display: flex;
            flex-wrap: wrap;

            .form-label {
                small {
                    display: none;
                }
            }

            @include breakpoint("small") {
                .form-field {
                    width: 50%;

                    &:first-child {
                        width: 100%;
                    }
                }
            }

            @include breakpoint("large") {
                flex-wrap: nowrap;

                .form-field {
                    width: 100%;
                }
            }
        }
    }
}

.cart-delivery-content {
    background-color: $color-greyLightest;
    border-radius: $global-radius;
    padding: spacing("single") (spacing("single") + spacing("third"));

    h2 {
        font-size: 30px;
        margin: 0;
        margin-bottom: spacing("half");
    }

    p {
        margin-bottom: spacing("single");
    }

    .cart-total-value {
        display: none;
    }
}

// Cart totals

.cart-totals {
    @include grid-column(12, $float: none);
    margin-bottom: spacing("single");
    order: 2;

    @include breakpoint("medium") {
        @include grid-column(4, $float: none);
        margin-bottom: spacing("double");
        order: 3;
    }

    .shipping-estimator {
        display: none;
    }
}

.cart-totals-content {
    align-items: flex-start;
    background-color: $color-greyLightest;
    border-radius: $global-radius;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: spacing("single") (spacing("single") + spacing("third"));

    h2 {
        font-size: 30px;
        margin: 0;
        margin-bottom: spacing("half");
    }

    .button--tocheckout {
        margin-bottom: spacing("single");

        &::after {
            content: "\E897";
        }
    }
}

.cart-total-list {
    list-style: none;
    margin: 0;
    width: 100%;
}

.cart-total-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: spacing("half");
    width: 100%;

    &:last-child {
        margin-bottom: spacing("double");
    }

    .coupon-code,
    .gift-certificate-code {
        margin-bottom: spacing("half");
        margin-top: spacing("single");
        width: 100%;

        .coupon-form,
        .cart-gift-certificate-form {
            display: flex;

            .form-input {
                border-radius: $global-radius 0 0 $global-radius;
            }

            .button {
                border-radius: 0 $global-radius $global-radius 0;
            }
        }
    }
}

.cart-total-label {
    margin-right: auto;

    strong {
        font-family: $header-font-family;
        font-weight: 500;
        letter-spacing: -0.25px;
    }
}

.cart-total-value {
    button {
        color: $color-primary;
        padding: 0;
    }
}

.cart-total-grandTotal {
    font-size: 18px;
}

.cart-additionalCheckoutButtons {
    display: none;
}
