// =============================================================================
// FOOTER (CSS)
// =============================================================================

// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
// 3. Fix for text flickers on windows devices
//
// -----------------------------------------------------------------------------

.footer {
    background-color: $footer-background;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: spacing("double");
    position: relative;
    transform: translateZ(0); // 3
}

.footer-title-sr-only {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0; // 1

    @include breakpoint("small") {
        flex-direction: row;
    }

    @include breakpoint("medium") {
        justify-content: flex-start;
    }
}

.footer-info-col {
    color: stencilColor("color-textSecondary");
    display: inline-block;
    float: none;
    font-size: fontSize("base"); // 2
    margin-bottom: spacing("double");
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: top;

    @include breakpoint("small") {
        text-align: left;
        padding-right: (spacing("double") * 2.5);
    }

    @include breakpoint("medium") {
        margin-right: auto;
    }

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.footer-info-col--small {
    &:last-child {
        @include breakpoint("medium") {
            margin-right: 0;
        }
    }

    @include breakpoint("medium") {
        margin-right: (spacing("double") * 2.5);
        padding: 0;
    }
}

.footer-info-col--social {
    width: 100%;
}

.footer-info-col--left {
    @include breakpoint("small") {
        padding: 0;
    }
}

.footer-info-col--right {
    @include breakpoint("small") {
        left: 50%;
        position: inherit;
        width: 50%;
    }

    @include breakpoint("medium") {
        left: 0;
        padding: 0;
        text-align: right;
        width: 100%;
    }
}

// Content
// -----------------------------------------------------------------------------

.footer-logo {
    display: block;
    margin-bottom: spacing("single");
}

.footer-number {
    color: stencilColor("color-primary");
    display: block;
    font-weight: 500;
    margin-bottom: spacing("quarter");
}

.footer-address {
    color: stencilColor("color-textBase");
    font-style: normal;
}

.footer-info-heading {
    color: $footer-heading-fontColor;
    font-size: 15px;
    text-transform: inherit;
}

.footer-info-list {
    list-style: none;
    margin-left: 0;

    a {
        color: stencilColor("color-textBase");
        text-decoration: none;

        &:hover {
            color: stencilColor("color-primary");
        }
    }
}

.footer-copyright {
    background-color: $color-textBase;
    color: $color-greyLight;
    padding: spacing("third");
    text-align: center;
}

.footer-payment-icons {
    height: remCalc(40);
    margin-top: spacing("single");

    @include breakpoint("medium") {
        margin-top: spacing("double");
    }

    .footer-payment-icon {
        height: 100%;
        margin: spacing("quarter");
        vertical-align: middle;
        width: remCalc(50);
    }

    svg {
        fill: stencilColor("icon-color");
    }
}

.footer-newsletter-summary {
    text-align: left;
}
