// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================

// Product view content
// -----------------------------------------------------------------------------

.productView {
    @include grid-row($behavior: "nest");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productView-section-title {
    font-size: 26px;
    margin-top: 0;

    @include breakpoint("small") {
        font-size: 30px;
    }

    @include breakpoint("medium") {
        font-size: 36px;
    }
}

// Product view images
// -----------------------------------------------------------------------------

.productView-image {
    @include grid-column(12, $float: none);
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    margin: 40px 0;
    padding: 0;
    position: relative;
    width: 100%;

    &:hover {
        .productView-image-controls button {
            opacity: 1;
        }
    }

    @include breakpoint("xsmall") {
        margin: 50px 0;
    }

    @include breakpoint("small") {
        @include grid-column(7, $float: none);
        margin: 60px 0;
    }

    @include breakpoint("medium") {
        margin: 80px 0;
    }

    @include breakpoint("large") {
        @include grid-column(6, $float: none);
        margin: 100px 0;
    }
}

.MagicZoom {
    background-color: $color-black;
    border-radius: $global-radius;

    .mz-figure {
        background-color: $color-white;
        opacity: 0.98;
        overflow: visible;

        img {
            border-radius: $global-radius;
        }
    }
}

.productView-image-controls {
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    z-index: 1;

    button {
        align-items: center;
        background-color: $color-secondary;
        border-radius: 50%;
        color: $color-white;
        display: flex;
        justify-content: center;
        height: 45px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: opacity 750ms ease;
        width: 45px;

        &#productView-image-previous {
            left: spacing("single");
        }

        &#productView-image-next {
            right: spacing("single");
        }

        span {
            font-size: 28px;
            width: 28px;
        }
    }
}

.productView-thumbnails {
    align-items: center;
    bottom: 30px;
    display: flex;
    justify-content: flex-start;
    left: 50px;
    @include u-listBullets("none");
    margin: -8px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.productView-thumbnail {
    background-color: $color-textBase;
    border-radius: 50px;
    cursor: pointer;
    height: 12px;
    margin: 8px;
    transition: all 750ms ease;
    width: 12px;

    &.mz-thumb-selected {
        background-color: $color-secondary;
        width: 30px;
    }
}

// Product view details
// -----------------------------------------------------------------------------

.productView-details {
    @include grid-column(12, $float: none);
    margin: auto 0;
    padding-bottom: 40px;

    @include breakpoint("xsmall") {
        padding-bottom: 50px;
    }

    @include breakpoint("small") {
        @include grid-column(5, $float: none);
        padding-bottom: 60px;
        padding-top: 60px;
    }

    @include breakpoint("medium") {
        margin-left: auto;
        max-width: 580px;
        padding-bottom: 80px;
        padding-top: 80px;
    }

    @include breakpoint("large") {
        @include grid-column(6, $float: none);
        padding-bottom: 100px;
        padding-top: 100px;
    }

    .breadcrumbs {
        text-align: left;

        .breadcrumb.is-active {
            display: none;
        }
    }

    .breadcrumb {
        font-size: 13px;

        @include breakpoint("medium") {
            font-size: 15px;
        }
    }
}

// Product view description
// -----------------------------------------------------------------------------

.productView-description {
    @include grid-column(12, $float: none);
    margin: 0;
    margin-bottom: 40px;
    width: 100%;

    @include breakpoint("xsmall") {
        margin-bottom: 50px;
    }

    @include breakpoint("small") {
        margin-bottom: 60px;
    }

    @include breakpoint("medium") {
        @include grid-column(8, $float: none);
        font-size: 15px;
        margin-bottom: 80px;
        margin-right: auto;
        max-width: 62%;
    }

    @include breakpoint("large") {
        margin-bottom: 100px;
    }

    h3 {
        font-size: 20px;
        margin: 50px 0 15px 0;
    }

    p {
        &:last-child {
            margin-bottom: 0;
        }
    }

    li {
        margin-bottom: 10px;
    }

    .Sirv {
        height: auto;
    }
}

// Product view sidebar
// -----------------------------------------------------------------------------

.productView-sidebar {
    @include grid-column(12, $float: none);

    @include breakpoint("medium") {
        @include grid-column(4, $float: none);
    }
}

.productView-specifications {
    background-color: $color-greyLightest;
    border-radius: $global-radius;
    margin-bottom: 40px;
    padding: (spacing("single") - spacing("sixth")) spacing("single");

    @include breakpoint("xsmall") {
        margin-bottom: 50px;
    }

    @include breakpoint("small") {
        margin-bottom: 60px;
    }

    @include breakpoint("medium") {
        margin-bottom: 80px;
    }

    @include breakpoint("large") {
        margin-bottom: 100px;
        padding: (spacing("single") + spacing("third"))
            (spacing("single") + spacing("half"));
    }

    dl {
        align-items: center;
        display: flex;
        margin-bottom: spacing("single");

        &:last-of-type {
            margin-bottom: 0;
        }

        dt {
            font-weight: 500;
            margin: 0;
            width: 50%;
        }

        dd {
            margin: 0;
            width: 50%;
        }
    }
}

// Product view reviews
// -----------------------------------------------------------------------------

.productView-review {
    @include grid-column(12, $float: none);
}

// Product view related products
// -----------------------------------------------------------------------------

.productView-related {
    @include grid-column(12, $float: none);
    margin-bottom: 100px;
    width: 100%;
}
