<fieldset class="form-fieldset actionBar-section">
    <div class="form-field">
        <label class="form-label" for="sort">Sort by</label>
        <select class="form-select" name="sort" id="sort" role="listbox">
            <option value="featured" {{#if sort '==' 'featured'}}selected{{/if}}>
                {{lang 'common.sorter.featured'}}
            </option>
            <option value="pricedesc" {{#if sort '==' 'pricedesc'}}selected{{/if}}>
                Price (High to Low)
            </option>
            <option value="priceasc" {{#if sort '==' 'priceasc'}}selected{{/if}}>
                Price (Low to High)
            </option>
            <option value="alphaasc" {{#if sort '==' 'alphaasc'}}selected{{/if}}>
                Alphabetical (A to Z)
            </option>
            <option value="alphadesc" {{#if sort '==' 'alphadesc'}}selected{{/if}}>
                Alphabetical (Z to A)
            </option>
            {{#if result_count}}
                <option value="relevance" {{#if sort '==' 'relevance'}}selected{{/if}}>
                    {{lang 'common.sorter.relevance'}}
                </option>
            {{/if}}
        </select>
    </div>
</fieldset>