// =============================================================================
// BRAND GRID (CSS)
// =============================================================================


// Brand grid view
// -----------------------------------------------------------------------------
//
// 1. Re-set the font-size, as we're reducing it to 0 in the .brandGrid class.
//
// -----------------------------------------------------------------------------

.brand-list {
    @include u-listBullets("none");
    @include grid-row($behavior: "nest");
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;

    @include breakpoint("xsmall") {
        margin-bottom: 50px;
    }

    @include breakpoint("small") {
        margin-bottom: 60px;
    }

    @include breakpoint("medium") {
        margin-bottom: 80px;
    }
}

.brand-item {
    @include grid-column(6);
    margin-bottom: spacing("single");

    @include breakpoint("small") {
        width: grid-calc(4, $total-columns);
    }

    @include breakpoint("medium") {
        width: grid-calc(3, $total-columns);
    }
}
