// BRAND CAROUSEL
// -----------------------------------------------------------------------------
//
// Purpose: Styles the brand carousel component, which basically adds extras to the
// vendor slick carousel, to specifically display brand
//
// -----------------------------------------------------------------------------

.sizeCarousel {
    position: relative;
    width: 100%;

    @include breakpoint("medium") {
        width: 66.6%;
    }

    @include breakpoint("xlarge") {
        width: 75%;
    }

    .slick-track,
    .slick-list {
        height: 100%;
    }

    &.slick-slider {
        margin: 0;
    }

    &-controls {
        display: none;

        @include breakpoint("medium") {
            align-items: center;
            display: flex;
        }

        .slick-arrow {
            align-items: center;
            background-color: $color-secondary;
            border-radius: 50%;
            color: $color-white;
            display: flex;
            height: 40px;
            justify-content: center;
            padding: 0;
            transition: background 750ms ease, opacity 250ms ease;
            width: 40px;

            &:hover {
                background-color: $color-secondaryDark;
            }

            &:first-child {
                margin-right: 10px;
            }

            &.slick-disabled {
                opacity: 0.4;
            }

            @include breakpoint("xsmall") {
                height: 45px;
                width: 45px;

                &:first-child {
                    margin-right: 20px;
                }
            }
        }

        .carousel-tooltip {
            display: none;
        }
    }
}

.sizeCarousel-sidebar {
    align-items: center;
    background-color: $color-textBase;
    color: $color-white;
    display: flex;
    justify-content: center;
    padding: spacing("double") spacing("single");
    text-align: center;
    width: 100%;

    @include breakpoint("medium") {
        border-right: 1px solid $color-white;
        padding: 0;
        padding-bottom: spacing("double");
        padding-top: spacing("double");
        text-align: left;
        width: 33.4%;
    }

    @include breakpoint("xlarge") {
        width: 25%;
    }

    &-inner {
        max-width: 700px;
        width: 100%;

        @include breakpoint("medium") {
            max-width: 320px;
            width: 75%;
        }
    }

    .section-heading {
        color: $color-white;
    }

    p {
        font-size: 15px;
        margin: 35px 0 0 0;

        @include breakpoint("medium") {
            margin: 35px 0 50px 0;
        }

        @include breakpoint("large") {
            font-size: 16px;
        }
    }
}

.sizeCarousel-slide {
    border-right: 1px solid $color-white;
    height: 350px;
    overflow: hidden;
    position: relative;

    @include breakpoint("small") {
        height: 100%;
        min-height: 400px;
    }

    @include breakpoint("medium") {
        min-height: 450px;
    }

    @include breakpoint("large") {
        min-height: 500px;
    }

    @include breakpoint("xlarge") {
        min-height: 500px;
    }

    &:hover {
        .sizeCarousel-image-wrapper {
            transform: translate3d(0, 0, 0) scale(1.08);
        }
    }
}

.sizeCarousel-image-wrapper {
    height: 100%;
    margin: 0;
    transform: translate3d(0, 0, 0) scale(1);
    transition: transform 750ms ease;
    width: 100%;

    img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}

.sizeCarousel-content {
    align-items: flex-start;
    bottom: 20px;
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 30px;
    position: absolute;

    @include breakpoint("xsmall") {
        bottom: 50px;
        left: 60px;
    }

    .sizeCarousel-name {
        color: $color-white;
        font-size: 24px;
        margin: 0 0 25px 0;

        @include breakpoint("xsmall") {
            font-size: 30px;
        }
    }
}
