// =============================================================================
// LOGIN (CSS)
// =============================================================================

.login {
    background-color: $color-greyLightest;
    border-radius: $global-radius;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: remCalc(550px);
    padding: (spacing("single") - spacing("sixth")) spacing("single");

    @include breakpoint("xsmall") {
        margin-bottom: 50px;
    }

    @include breakpoint("small") {
        margin-bottom: 60px;
    }

    @include breakpoint("medium") {
        margin-bottom: 80px;
        padding: (spacing("single") + spacing("third"))
            (spacing("single") + spacing("half"));
    }

    .form {
        margin: 0;
    }

    .form-actions {
        .button {
            margin-bottom: spacing("single");
        }

        a {
            display: block;
            margin: 0;
            margin-top: spacing("quarter");
            text-align: left;
        }
    }
}

.forgot-password {
    display: block;
    margin-bottom: spacing("third");
}