// =============================================================================
// MESSAGES (Settings)
// =============================================================================


$message-bar-backgroundColor:            stencilColor("message-bar-backgroundColor");
$message-bar-textColor:                  stencilColor("message-bar-textColor");
$message-bar-highlightColor:             stencilColor("message-bar-highlightColor");

$message-box-backgroundColor:            stencilColor("message-box-backgroundColor");
$message-box-textColor:                  stencilColor("message-box-textColor");
$message-box-highlightColor:             stencilColor("message-box-highlightColor");
