<ul class="productCarousel" data-list-name="{{list}}" data-slick='{
        "arrows": true,
        "infinite": false,
        "mobileFirst": true,
        "slidesToShow": 2,
        "slidesToScroll": 2,
        "nextArrow": "#productCarousel-right",
        "prevArrow": "#productCarousel-left",
        "slide": "[data-product-slide]",
        "responsive": [
            {
                "breakpoint": 1024,
                "settings": {
                    "slidesToShow": {{ columns }}
                }
            },
            {
                "breakpoint": 768,
                "settings": {
                    "slidesToShow": 3
                }
            }
        ]
    }'>
    {{#each products}}
        <li data-product-slide class="productCarousel-slide">
            {{> components/products/card settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
        </li>
    {{/each}}
    {{#if products.length '>' 1}}
        {{> components/carousel-content-announcement}}
    {{/if}}
</ul>
<div class="productCarousel-controls">
    <button id="productCarousel-left">
        <span class="material-symbols-outlined">arrow_back</span>
    </button>
    <button id="productCarousel-right">
        <span class="material-symbols-outlined">arrow_forward</span>
    </button>

    {{#if page_type '===' 'default'}}
        <a href="/air-treatment/" class="button button--primary">
            View All
        </a>
    {{/if}}
</div>