<section class="productView-videoGallery" data-video-gallery>
    <h2 class="productView-section-title">Product videos</h2>
    <div class="videoGallery-content" id="videoGallery-content">
        <ul class="videoGallery-list">
            {{#each this.list}}
                <li class="videoGallery-item">
                    <iframe id="player" class="lazyload" type="text/html" width="640" height="390" frameborder="0"
                        webkitAllowFullScreen mozallowfullscreen allowFullScreen
                        data-src="//www.youtube.com/embed/{{this.id}}?rel=0" data-video-player>
                    </iframe>
                </li>
            {{/each}}
        </ul>
    </div>
</section>